body{
    background: #1a2444;


}
.movies_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 20px;
}
.boxes{
    box-shadow: 1px 5px 18px rgba(0, 0, 0, 0.238);
    width: 200px;
    position: relative;
    transition: .5s all;
    border-radius: 6px;
}
.boxes:hover{
    box-shadow: 1px 8px 28px rgba(6, 255, 151, 0.338);
    transform: scale(1.18);

}
.boxes .title{
font-size: 1.3rem;
color: rgb(252, 89, 89);
text-align: center;
text-transform: uppercase;
padding: 10px;
}

.boxes .dates{

    font-size: 1.1rem;
    color: aliceblue;
    padding: 0 5px;
}
.boxes .ganer{

    font-size: 1.2rem;
    color: rgb(49, 221, 126);
    padding: 5px;
}

.boxes img{
    width: 100%;
    
}


.boxes .golink {

    cursor: pointer;
    text-align: center;
    margin: 16px ;
    
    
}
.boxes .golink a{
    padding: 5px 28px ;
    background: #349073;
    border-radius: 8px;
  cursor: pointer;
font-size: 1.2rem;
color: aliceblue;
}
